@font-face {
  font-family: "PP Rader";
  src:
    local("PP Rader"),
    url("PP Rader/PPRader-Regular.otf") format("opentype"),
}

@font-face {
  font-family: "ABC Rom Condensed Regular";
  src:
    local("ABC Rom Condensed Medium Unlicensed Trial"),
    url("ABCROMCondensed-Regular-Trial.otf") format("opentype"),
}


@font-face {
  font-family: "Px Grotesk";
  src:
    local("Px Grotesk Regular"),
    url("Px-Grotesk-Regular.ttf") format("truetype"),
}


:root {
  --color: #ed26ff;
  --background: rgb(64, 64, 64);
  --black: #c8c8c8;
}

html{
  box-sizing: border-box;
  overflow-x: hidden; 
  height: auto;
  /* scroll-behavior: smooth; */
  /* cursor: url('cursor.svg') 5 5,auto; */
}

::-webkit-scrollbar {
  display: none;
 width: 5px;
 background-color: var(--black);
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
  background-color: var(--black);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color); 
  border-radius: 10px;
}

/* .click, span{
  border-radius: .35vw;;
} */


body{
  margin: 0;
  color: var(--black);
  width: 100vw;
  font-family: 'PP Rader', 'Helvetica', sans-serif;
  /* font-family: "roc-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal; */
  height: 100vh;
  background-color: var(--black);
  overflow-y: hidden!important;
}

#home{
  transition: .5s;
  height: 100vh;
  z-index: 100;
  width: 100vw;
  animation: opacity 1s forwards ease-in;
  background-color: var(--background);;
}
.blur {
  filter: blur(10px);
}

.skill-text{
transition: .25s;
}

#about {
  position: fixed!important;
  width: 45vw;
  height: 45vw;
  background-color: var(--black);
  margin: auto;
  top: 50vh;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 1% 1.5% 1% 1.5%;
  line-height: 1;
  z-index: 10;
  opacity: 0;
  display: none;
  color: var(--color);
  transition: .25s!important;
}

.click{
/* text-decoration: underline; */
cursor: pointer;
padding: 0;;
background-color: var(--color);
color: var(--background);
}

.drithi{
font-size: 3.75vw;
margin:0;
text-transform: uppercase;
}

.main-text, .linkcontainer{
font-size: 2vw;
}

#linkcontainer, #linkcontainer2{
display: flex;
justify-content: space-between;
text-transform: uppercase;
margin-top: 3vw;
}

#linkcontainer a{
text-decoration: none;
color: var(--color);
}

#linkcontainer2 a{
  text-decoration: none;
  color: var(--color);
  }
  
.linkcontainer {
text-align: center; /* To center the text */
}

.linkpoints {
display: inline-block; /* Make the point inline with text */
width: 1.2vw;
height: 1.2vw;
background-color: var(--color);
cursor: pointer;
}

.bracket{
  position: relative;
  top: -.17rem;
}
.bracket1{
  position: relative;
  top: -.17rem;
}

.header{
  font-size: 2.5vw;
  display: flex;
  line-height:1;
  justify-content: space-between;
  padding: 1% 1% 1% 1%;
  margin-bottom: 1.6vw;
  /* border-bottom: 1.5px dotted var(--black); */
  line-height: 1;
}

#click{
  color: var(--background);
}


#headerone{
  /* background-color: var(--background);  */
  z-index: -2;
}

a{
  /* color: var(--color); */
}

#nav{
  cursor: pointer;
}
 a{
  color: var(--black);
}
.side{
  display: inline-flex;
}

#nav{
  padding-left: 1vw;
}

#archive, #archivehide{
  text-decoration: none;
  transition: .25s;
  margin-right: .5vw;
}

#archivehide1{
  visibility: hidden;
  display: none;
  margin-left: .5vw;
}

#archive1{
  text-decoration: none;
  transition: .25s;
  margin-right: -.5vw;
}

#archive:hover{
  filter: blur(7px);
  background-color: var(--color);
  color: var(--background);
  text-decoration: underline;
}

#archive1:hover{
  text-decoration: underline;
  filter: blur(7px);
  background-color: var(--black);
  color: var(--background);
}

#home-content{
  transform: translateY(-.5vw);
}

.xaxis{
  font-size: 1.1vw;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 91.5vw;
  top:22.5vw;
  transition: .25s;
}

#print{
  width: 6.05%;
  text-align: right;
}

#digital{
  width: 6.05%;
  text-align: left;
}

.yaxis{
  margin: 0 auto;
  font-size: 1.1vw;
  position: absolute;
  justify-content: center;
  text-align: center;
  height: 50vw;
}

#branding{
  position:absolute;
  width: 100vw;
  top:-1.5vw;
}

#personal{
  position:absolute;
  bottom: 1.9vw;
  width: 100vw;
}

.label{
  background-color: var(--black);
  color: var(--background);
  padding-left: .1vw;
  padding-right: .1vw;
}

.highlight{
  color: var(--color);
}

#graph{
  height: 43.2vw;
  width:  76.8vw;
  display: grid;
  position: relative;
  margin: 0 auto;
  grid-template-columns: repeat(96, .8vw); 
  grid-template-rows: repeat(54, .8vw);
  gap: 0px; /* Space between grid items */
  opacity: 0;
  border: .5px solid var(--black);
  animation: opacity .5s forwards ease-in;
  animation-delay: 2s;
  z-index: 9;
  background-color: rgba(64,64,64, .75);
}

.arrows{
  display: flex;
  justify-content: center;
}

#arrow1{
  position: absolute;
  z-index: 15;
}

#arrow2{
  position: absolute;
  transform: translateY(21vw);
  z-index: 16;
}

#one{
  transform: translateY(-1.4vw);
  height: 0vw;
  animation: growHeight 1.25s forwards;
  animation-delay: .9s;
}

#two{
width: 0vw;
animation: growWidth 1.25s forwards;
animation-delay: .9s;
}

#one2, #two2{
display: none;
}

@keyframes growHeight {
from {
    height: 0;
}
to {
    height: 46vw;
}
}

@keyframes growHeight2 {
from {
    height: 0;
}
to {
    height: 118.6vw;
}
}


@keyframes growWidth {
from {
    width: 0;
}
to {
    width: 79.8vw;
}
}

@keyframes growWidth2 {
from {
    width: 0;
}
to {
    width: 77vw;
}
}

.grid-line {
  width: .8vw;
  height: .8vw;
  border: .1px dashed #8b8b8b;
  box-sizing: border-box;
}
.point {
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background-color: var(--color);
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}

.point-text {
position: absolute;
display: inline-flex;
transform: translate(-50%, 0); /* Center text horizontally */
line-height: 1;
font-size: 1.2vw; 
text-transform: uppercase;
visibility: hidden;
opacity:0;
transition: .5s;
white-space: nowrap;
color: var(--black);
justify-content: center;
text-align: center;
margin-left: 0.6vw;
padding: .05vh .15vh .5vh .15vh;
/* background-color: rgba(255, 0, 255, .75); */
}

#pointA-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 2.5s;
}

#pointB-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 4.5s;
}


#pointC-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 2.75s;
}

#pointD-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 3.25s;
}

#pointE-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 3.5s;
}

#pointF-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 3.75s;
}
/* 
#pointG-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 4.25s;
} */

#pointH-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 3s;
}

#pointI-point{
opacity:0;
animation: opacityblur forwards 1s ease-in;
animation-delay: 4s;
}

#pointJ-point{
  opacity:0;
  animation: opacityblur forwards 1s ease-in;
  animation-delay: 4.25s;
  }

.key {
    margin: 0.5% 1% 0.5% 1%;
    margin-top: 3vw;
    display: inline-flex;
    font-size: .8vw;
    height: auto;
    width: 98vw;
    justify-content: space-between;
    color: var(--color);
    position: absolute; /* Add this line */
    bottom: 1.25vh; /* Add this line */
}

#key{
padding: .035% .3% 0% .3%;
border: .2px solid var(--black);
}

#key2{
  background-color: var(--color);
  padding: .05% .25% .01% .25%;
  color: var(--background);
  /* opacity: 0; */
  animation: opacityblur 1.75s alternate-reverse ease infinite;
  animation-delay: 0s;
}

#key1{
  padding-top: .5vw;
}

#index{
  background-color: var(--black);
  color: var(--background);
  text-decoration: none;
}

#projects-section{
z-index: 1000;
/* width: 100vw; */
/* min-height: 100vh; */
display:block;
background-color: var(--black);
padding-bottom: 1vw;
color: var(--background);
}

#projects{
margin-top:0;
}

.border{
  border-radius: .75vw;
}

#allprojects{
/* padding: 1% 1.5% 1% 1.5%; */
/* padding: 1% 1% 1% 1%; */
padding-top:0vw;
padding-bottom: 3vw;
overflow-x: scroll; 
overflow-y: scroll;
display: flex;
position: relative;
flex-direction: row;
/* gap: 7vw; */
width: auto;
}

.box{
padding:0;
margin: 0 auto;
display: inline-block;
min-height: auto;
justify-content: center;
padding-bottom: 3vw;
width: 87vw;
padding-left: 3.25vw;
padding-right: 3.25vw;
padding-top: 2vw;
}

.subbox{
line-height: 1;
border: 1.5px dotted var(--background);
padding-top: .75vw;
padding-bottom: .75vw;
padding-left: .75vw;
padding-right: .75vw;
box-sizing: border-box;
width: 87vw;
background-color: rgba(197, 197, 197, 0.75);
}


#allnav a{
text-decoration: none;
/* background-color: var(--color); */
}


#about2 {
position: fixed!important;
width: 45vw;
height: 45vw;
background-color: var(--background);
color: var(--color);
margin: auto;
top: 50vh;
transform: translateY(-50%);
left: 0;
right: 0;
box-sizing: border-box;
padding: 1% 1.5% 1% 1.5%;
line-height: 1;
z-index: 101;
opacity: 0;
display: none;
transition: .25s!important;
}

#about2 .linkpoints{
background-color: var(--color);
}

#about2 a{
color: var(--color);
}

#headertwo{
margin-bottom:0;
display: flex;
/* background-color: rgba(212, 212, 212, 0.7); */
/* border-bottom: 1.5px dotted var(--background); */
background: rgb(200,200,200);
background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(200,200,200,.75) 20%, rgba(200,200,200,0) 100%);
padding-bottom: 1vw;
cursor: auto;
}


#headertwo a{
z-index: 2000;
color: var(--background);
}

.arrowsholder {
height: 100%;
display: flex;
position: fixed;
visibility: hidden;
opacity: 0;
transition: .25s;
bottom: .75%;
right: 0;
justify-content: flex-end;
align-items: flex-end;
pointer-events: none;
margin: 1%;
margin-right: 1.25%;
z-index:50;
}

#arrowheader {
display: flex;
justify-content: center;
align-items: center;
width: auto;
pointer-events: auto;
position: relative;
}

.arrow-container {
position: relative;
width: 3.5vw; /* Adjust the width as needed */
height: 3.5vw; /* Adjust the height as needed */
display: flex;
z-index: 5;
}


.arrow-container2 {
position: absolute;
width: 3.5vw; /* Adjust the width as needed */
height:3.5vw; /* Adjust the height as needed */
display: flex;
background-color: var(--color);
filter: blur(3px);
z-index: 4;
opacity: .9;
}


.arrow-container img{
cursor: pointer;
transition: .3s;
}

.arrow-container img:hover{
animation: opacityblur forwards .25s ease-out alternate;
}

.arrowsvert {
height: 2.25vw;
position: absolute;
display: flex;
left: 50%;
transform: translateX(-50%);
}

.arrowsvert:first-child {
top: 0;
}

.arrowsvert:last-child {
bottom: 0;
}

.leftright{ 
display: flex;
width: 3vw;
justify-content: space-between;
}

.arrowshor {
display: flex;
height: 1.25vw;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.arrowshor:first-of-type {
left: 0;
}

.arrowshor:last-of-type {
right: 0;
}

#up:hover{
transform: translateY(-.75vw);
}

#down:hover{
transform: translateY(.75vw);
}


#left:hover{
transform: translateX(-.75vw);
}

#right:hover{
transform: translateX(.75vw);
}

#projnav {
  display: inline-flex;
  margin: 0 auto;
  margin-top: 0vw;
}

.navhover {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2.25vw;
}

.projpoint {
  width: .85vw;
  height: .85vw;
  background-color: var(--color);
  cursor: pointer;
  transition: .25s;
}

.tooltiptext {
  text-transform: uppercase;
  visibility: hidden;
  font-size: .8vw;
  color: var(--background);
  text-align: center;
  line-height: .9;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position below the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  display: flex;
  transition: 0.2s;
  margin-top: -.3vw;
  transition: .2s;
}

.navhover:hover .tooltiptext {
  visibility: visible;
  opacity: .9;
}

.projpoints {
width:  1.2vw;
height: 1.2vw;
background-color: var(--color);
transition: .3s;
filter: blur(4px);
pointer-events: none;
animation: opacityblur forwards .75s ease-in;
}


.homeprojpoints {
  width:  1.2vw;
  height: 1.2vw;
  background-color: var(--color);
  transition: .3s;
  filter: blur(4px);
  pointer-events: none;
  animation: opacityblur forwards .75s ease-in;
  }
  

.scale-up{
width: 1.2vw;
height: 1.2vw;
filter: blur(0px); 
}

.info a{
transition: .25s;
color: var(--color);
background-color: var(--color);
color: var(--background);
}

.info a:hover{
filter: blur(4px);
}

.hover{
cursor: alias;
}


.first, .background{
transition: .25s;
}

.first:hover{
transform: scale(1.02);
animation: blur .5s forwards ease-out;
}

.background:hover{
transform: scale(1.05);
}


.caption a{
cursor: alias;
}

.title{
font-size: 2vw; 
text-transform: uppercase;
display: inline-flex;
position: relative;
align-items: center;
}

.title-text{
background-color: var(--color);
}
.title-date{
/* border: 1px solid var(--color); */
background-color: var(--background);
color: var(--black);
padding-left: .05vw;
padding-right: .05vw;
}

.date{
color: var(--black);
}

.titlepoint {
display: inline-flex;
width: 1.2vw;
height: 1.2vw;
margin-right: .3vw;
background-color: var(--color);
cursor: pointer;
/* transform: translate(-50%, -50%); */
}

.count{
  color: var(--color);
  font-size: 2.25vw;
}

.subtitle{
font-size: 1.3vw;
margin-top: .5vw;
margin-bottom: 1vw;
}

.content{
margin-left: 1.5vw; 
line-height: 1;
/* position: relative; */
}

.expand{
font-size: 3vw;
display: block;
align-self: center;
color: var(--color);
background: none;
border: none;
cursor: pointer;
padding: 0;
margin: 0;
text-decoration: underline;
}

.caption{
text-transform: uppercase;
font-size: 1.5vw;
margin-bottom: 1vw;
margin-top: 1.5vw;
}

.subcaption{
font-size: 1.3vw;
}

.details{
  opacity: .8;
  margin-bottom: -.75vw;
}

.background{
position: relative;
margin: 0 auto;
margin-top: .5vw;
display: flex;
width: 82vw;
height: 50vw;
background-color: black;
}

.background:hover{
  transform: scale(1);
}

.second {
display: block;
justify-content: center;
position: absolute; /* Position the second image absolutely within the background container */
top: 50%; /* Align the top edge of the image to the vertical center */
left: 49.2%; /* Align the left edge of the image to the horizontal center */
transform: translate(-50%, -50%); /* Adjust the image position to center it precisely */
max-height: 48vw; /* Set the maximum width of the second image to 80% of the container */
}

.copyright{
display: block;
margin-bottom:1vw;
font-size: .8vw;
margin-left: 1.5vw; 
text-transform: uppercase;
text-align: center;
}

#copy{
background-color: var(--color);
}

.info{
/* display: none; */
/* opacity: 0; */
width: 50%;
transition: .5s;
}

.reveal-info{
display: block;
opacity: 1;
}

.first{
margin-top:.5vw;
width: 98%;
}
.fullwidth{
width: 82vw;
margin-top: 1.5vw;
}

.homegif{
width: 83vw!important;
margin-left: -.5vw;
margin-top: .5vw;
}

#blumenhaus-web{
width: 82vw;
}

.logo{
display: flex;
width: 82vw;
justify-content: right;
position: relative;
margin-top: -12vw;
}

#newlogo{
width: 38vw;
display: flex;
}

.two{
  margin-top: 1.25vw;
  width: 82vw;
  display: flex; 
}

.two img{
  width: 50%;
}
#cover1 {
  transform: rotate(180deg); /* Rotate cover2 by 180 degrees */
}

.twocol, .twocolweb, .threecol, .threecol2, .threecol3, .twocol2, .twocol3, .twocol4, .sixcol{
width: 82vw;
display: flex;
justify-content: space-between;
margin-top: 1.5vw;
}

.twocol img{
width: 49.25%;
height: 100%;
}

.threecol img{
width: 32.5%;
}

.threecol2 img{
height: 50vw;
}

.sixcol img{
width: 12.75vw;
border-radius: 10px;
}

.shirt img{
height: 27.5vw;
width: auto;
}

.twocolweb img{
width: 43.25vw;
margin-left: -1.5vw;
}

#blum-code{
margin-bottom: 1vw;
}

.twocol2{
justify-content: left;
}

.twocol2 img{
/* width: 30%; */
height: 50vw;
margin-right: 4vw;
}

.twocol4 img{
/* width: 30%; */
height: 40vw;
width: auto;
}

.fixed {
position: fixed!important;
top: 0;
width: 98vw; 
background-color: rgba(197, 197, 197, 0.7); 
z-index: 100; 
font-size: 1.5vw;
margin-bottom: 0;
padding-bottom: .5vw;
transition: .25s;
/* padding-top:.5vw; */
}

.fixed2 {
  position: fixed!important;
  top: 9%;
  transition: .25s;
  /* padding-top:.5vw; */
  }

.fixed3{
  position: fixed!important;
  top: 0;
  background-color: rgba(197, 197, 197, 0.7); 
  z-index: 100; 
  width: 98.5vw;
  margin-bottom: 6vw;
  transition: .25s;
}

#chamberlain-web{
margin-top: 0vw;
}

.twocol3 img{
height: 22.75vw;
width: auto;
}

.five img{
height: 27.5vw;
width: auto;
}

.six img{
height: 33.5vw;
width: auto;
}

.seven img{
height: 39vw;
width: auto;
}

.eight img{
height: 29.75vw;
width: auto;
}

.nine img{
height: 42.5vw;
width: auto;
}

.ten img{
height: 37.2vw;
width: auto;
}


.carousel {
display: flex;
height: 52vw;
width: 82vw;
padding: 0;
margin-top: 1.5vw;
background-color: beige;
position: relative;
justify-content: center;
align-items: center;
}
.carousel img {
position: absolute;
width: 88vw;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 0.5s ease, opacity 0.5s ease;
opacity: 0;
}
.carousel img.active {
opacity: 1;
transform: translate(-50%, -50%);
}
.carousel img.slide-in-left {
transform: translate(100%, -50%);
}
.carousel img.slide-in-right {
transform: translate(-100%, -50%);
}
.carousel::before, .carousel::after {
content: "";
position: absolute;
top: 0;
bottom: 0;
width: 50%;
}
/* .carousel img::before {
left: 0%;
z-index:2;
cursor: url('arrowleftnav.svg'), auto;
}
.carousel img::after {
right: 0;
cursor: url('arrowrightnav.svg'), auto;
} */

.last{
margin-bottom: 1vw
}

video{
margin-top: 1.5vw;
width: 82vw;
height: auto;
}

.close, .expand{
background: none;
border:none;
color: var(--color);
font-family: 'PP Rader', sans-serif;
font-size: 1.25vw;
cursor: pointer;
margin-top: 1vw;
margin-bottom: 1vw;
transition: .25s;
text-decoration: underline;
}

.close:hover{
filter: blur(5px);
}
.expand:hover{
filter: blur(5px);
}


#home-book button{
margin-top: 0vw;
}

#click1, #nav, #allnav>a, #click2{
transition: .25s;
}
#click1:hover{
/* color: var(--background); */
filter:blur(7px);
}
#nav:hover{
filter:blur(7px);
}

#nav span:hover{
  color: var(--background);
  background-color: var(--color);
  text-decoration: underline;
}

#click2:hover{
/* color: var(--black); */
filter:blur(7px);
}
#allnav >a:hover{
  background-color: var(--color);
  color: var(--background);
  text-decoration: underline;
/* color: var(--black); */
filter:blur(7px);
}

.footer{
width: 100%;
height: 3.75vw;
display: block;
position: fixed;
background: rgb(200,200,200);
background: linear-gradient(180deg, rgba(200,200,200,0) 0%, rgba(200,200,200,.5) 90%, rgba(200,200,200,1) 100%);
bottom:0;
transition: .25s;
visibility: hidden;
}

@keyframes opacity {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes opacityblur {
from {
  filter: blur(4px);
  opacity: 0;
}
to {
  filter: default;
  opacity: 1;
}
}

@keyframes blur {
0%{
  filter: blur(1px);
}
50%{
  filter: blur(4px);
}
100%{
  filter: blur(0px);
}
}

@media only screen and (min-height: 1000px){
  #home-content{
    transform: scale(1.1);
    margin-top: 8vw;
  }
  
  .key{
    margin-top: -1vw;
  }
}

@media only screen and (max-height: 800px){
#home-content{
  transform: scale(.9);
  margin-top: -3vw;
}

.key{
  /* position: relative; */
  /* top: -.5vw; */
  margin-top: -1vw;
}
}


@media only screen and (max-width: 1400px){
  
  #home-content{
    position: relative;
    top: 2vh;
    transform: scale(.98);
    }
  
  .key{
    font-size: 1vw;
  }
}


@media only screen and (max-width: 1300px){
  
  #home-content{
  position: absolute;
  margin-top: -1vw;
  top: 49vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(.98);
  }

  #branding{
    width: 91.5vw;
  }

  #personal{
    width: 91.5vw;
  }

  .xaxis{
    top:22.44vw;
  }

  .yaxis{
    height:50vw;
  }

  #arrow2{
    transform: translateY(20.9vw);
  }

  .key{
    font-size: 1.1vw;
  }
  
}
@media only screen and (max-width: 1100px){
  
  #home-content{
    position: absolute;
    top: 49vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(1);
    }

    #arrow2{
      transform: translateY(20.7vw);
    }
  
}


@media only screen and (max-width: 800px){

  .header{
    font-size: 4vw;
    line-height:1.35;
    border-bottom: none;
    padding:0;
  }

  .count{
    font-size: 3.5vw;
  }
    #arrow2{
      transform: translateY(20.5vw);
    }

    .xaxis{
      top:22.55vw;
    }

    .linkcontainer{
      margin-top: -2vw;
    }

    .key{
      font-size: 1.5vw;
    }

    #home-content{
      position: absolute;
      top: 49vh;
      left: 50vw;
      transform: translate(-50%, -50%) scale(1.1);
    }
    
}

@media only screen and (max-width: 700px){

.header{
  font-size: 6.5vw;
  line-height:1.35;
  /*justify-content: space-between;
  padding: 0.4% 1% 1% 1%;
  margin-bottom: 2.2vw; */
  border-bottom: none;
  padding:0;
  overflow-y: scroll;
}

#archiveog{
display: none;
}

#archiveog{
  display: none;
  }

  #archivehide1, #nav{
    visibility: visible;
    display: inline-flex;
    margin-right: 2.7vw;
  }

  #archivehide1{
    padding-top: 1.5vw;
  }
  
#headerone{
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
}

#welcome{
  display: block;
  position: absolute;
  border-bottom: 1px dotted var(--background);
  top: 1vw;
  width: 100vw;
  padding-top: 1.5vw;
  padding-bottom: 3.5vw;
}


#side{
 display: flex;
 border-top: 1px dotted var(--background);
 position: absolute;
 bottom:-20vw;
 left:0;
 right: 0;
 width: 90vw;
 padding-top:2.7vw;
  padding-bottom: 22vw;
  margin: 0 auto;
  justify-content: center;
}

.count{
  font-size: 8vw;
}

#home{
 overflow-x: hidden;
}

#home-content{
  position: absolute;
  top: 49vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(.75);
}

#graph{
  width: 69.3vw;
  height:  112.2vw;
  display: grid;
  position: relative;
  margin: 0 auto;
  grid-template-rows: repeat(68, 1.65vw);
  grid-template-columns: repeat(42, 1.65vw);
  gap: 0px; /* Space between grid items */
  margin-top: 0vw;
  opacity: 0;
  border: .5px solid var(--black);
}

  .grid-line {
    width: 1.65vw;
    height: 1.65vw;
    border: .5px solid #8b8b8b;
  }
  .point {
    width: 3.75vw;
    height: 3.75vw;
  }

  .xaxis{
    font-size: 3vw;
    width: 100vw;
    top:56.6vw;
  }
  
  #print{
    width: 11%;
    margin-right: 0 auto;
  }

  #digital{
    width: 11%;
    margin-left: auto;
  }

  .yaxis{
    font-size: 3vw;
    justify-content: center;
    text-align: center;
    height: 134.3vw;
    width: 100vw;
  }

  #branding{
    width: 100vw;
    top:-1vw;
  }

  #personal{
    bottom: 0vw;
    width: 100vw;
  }

  .label{
      padding-left: .1vw;
      padding-right: .1vw;
    }
  
  #one, #two{
    display: none;
  }

  #one2{
    height:0;
    display: block;
    animation: growHeight2 1.25s forwards;
    animation-delay: .9s;
  }

  #two2{
  width:0;
  display: block;
  animation: growWidth2 1.25s forwards;
  animation-delay: .9s;
  }

  #arrow2{
    transform: translateY(52vw);
  }

  #arrow1{
    transform: translateY(-3vw);
  }

  #branding{
    top:-3.5vw;
  }

  #personal{
    bottom: 9vw;
  }

  .key {
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    font-size: 1.75vw;
    margin: 0.5% auto;
    bottom: 10vw;
}


.point-text{
  font-size: 2vw;
  margin-top: 3vw;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 1.55vw;
}

#headertwo{
  padding-top: 1.5vw;
  padding-left:.75vw;
  padding-right:.75vw;
  font-size: 6.5vw;
  padding-bottom: 4vw;
}

#projnav{
  display: none;
}

#allprojects{
  padding-bottom: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-x: scroll;
}

.box{
  margin-top: 0vw;
  padding-top:19vw;
  width: 91vw;
  margin-bottom: 10vw;
  transition:.5s;
}

.box * {
  transition: .25s; 
}

.subbox{
  border: 1px dotted var(--background);
  transition: .25s;
}
.first{
  width: 98%;
}

.fullwidth{
  width: 82.25vw;
  /* margin-top: 1vw; */
}

#illustrations{
  margin-top:-4vh;
}

.titlepoint{
  width: 3.5vw;
  height: 3.5vw;
  margin-right: 1vw;
  display: block;
  margin-bottom: 1.5vw;
}

.title{
  margin-top: 1vw;
  font-size: 6.75vw;
  display: block;
  text-align: left;
  margin-bottom: 1vw;
  margin-left: 1vw;
  line-height: 1.1;
}

.subtitle{
  font-size: 4vw;
  margin-bottom: 2vw;
  margin-left:-.25vw;
}

.caption{
  font-size:4vw;
  margin-bottom: 2vw;
}

/* .expand, .close{
  font-size: 3vw;
  margin-left: 0;  
} */

.subcaption{
  margin-top: 0vw;
  margin-bottom: 2vw;
  font-size: 3.5vw;
}


.twocol, .twocolweb .threecol, .threecol2, .threecol3, .twocol2, .twocol3, .twocol4, .sixcol, video{
  width: 82.25vw;
}

.shirt img{
  width: auto;
  height: 27.25vw;
}

.logo{
  width: 80vw;
}

.twocol2 img{
  width: auto;
  height: 51vw;
}

.twocol3 img{
  width: auto;
  height: 22.5vw;
}

.twocol4 img{
  width: auto;
  height: 41vw;
}
.carousel{
  height: 52.5vw;
}

.five img{
  width: auto;
  height: 27vw;
}

.six img{
  width: auto;
  height: 33.5vw; 
}

.threecol2 img{
  height: 50vw;
  width: auto;
}
.seven img{
  height: 39vw;
}
.eight img{
  height: 29.5vw;
}
.nine img{
  height: 43vw;
}
.ten img{
  height: 38vw;
}

.copyright{
  padding-top:16vw;
  padding-bottom: 3vw;
  font-size: 2.5vw;
  text-align: center;
}

#about, #about2 {
  width: 85vw;
  height: 85vw;
  margin: auto;
  padding: 2% 2.5% 2% 2.5%;
}

.drithi{
font-size: 7vw;
}

.main-text, .linkcontainer{
font-size: 4vw;
}

.linkpoints {
width: 4vw;
height: 4vw;
}

.linkcontainer{
margin-top: -3vw;
}

body{
overflow-y: scroll!important;
}

.arrowsholder {
  top: -81.5%;
}

.arrow-container {
  width: 11vw; /* Adjust the width as needed */
  height: 11vw; /* Adjust the height as needed */
  }
  
  .arrow-container2 {
  width: 11vw; /* Adjust the width as needed */
  height:11vw; /* Adjust the height as needed */
  }
  
  .arrowsvert {
  height: 7vw;
  }
  
  .leftright{ 
  width: 5vw;
  }
  
  .arrowshor {
  height: 4vw;
  }

.arrow-container2{
  filter: blur(2px);
}

.info{
  width: 97%;
}

.logo{
  display: none;
}

.caption{
  margin-top: 5vw;
}

.subcaption{
  margin-bottom: 5vw;
}

.key{
  margin-top: 0vw;
  bottom: 11vh; 
}

}

@media only screen and (max-width: 600px){
  #arrow2{
    transform: translateY(51.4vw);
  }

  .count{
    font-size: 6vw;
  }
}


@media only screen and (max-width: 450px){

  body{
    overflow: scroll;
    overflow-y: scroll!important;
    height: auto;
  }

  .header{
    font-size: 9vw;
    line-height:1.35;
    /*justify-content: space-between;
    padding: 0.4% 1% 1% 1%;
    margin-bottom: 2.2vw; */
    border-bottom: none;
    padding:0;
  }

  #headerone{
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
  }
  
  #welcome{
    display: block;
    position: absolute;
    border-bottom: 1px dotted var(--background);
    top: 1vw;
    width: 100vw;
    padding-top: 1.5vw;
    padding-bottom: 3.5vw;
  }
  
  
  #side{
   display: flex;
   border-top: 1px dotted var(--background);
   position: absolute;
   bottom:3.5vw;
   left:0;
   right: 0;
   /* width: 90vw; */
   padding-top:2.7vw;
    padding-bottom: 0.5vw;
    margin: 0 auto;
  }

  .count {
    display: none;
  }

  #archivehide1{
    padding-top: 0vw;
  }
  #home{
   overflow-x: hidden;
  }
  
  #home-content{
    position: absolute;
    bottom: -7%;
    left: 50vw;
    transform: translate(-50%, -50%) scale(.91);
  }
  
  #graph{
    width: 69.3vw;
    height:  112.2vw;
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-rows: repeat(68, 1.65vw);
    grid-template-columns: repeat(42, 1.65vw);
    gap: 0px; /* Space between grid items */
    margin-top: 0vw;
    opacity: 0;
    border: .5px solid var(--black);
  }
  
    .grid-line {
      width: 1.65vw;
      height: 1.65vw;
      border: .5px solid #8b8b8b;
    }
    .point {
      width: 3.75vw;
      height: 3.75vw;
    }
  
    .xaxis{
      font-size: 3vw;
      width: 100vw;
      top:58.6vw;
    }
    
    #print{
      width: 11%;
      margin-right: 0 auto;
    }
  
    #digital{
      width: 11%;
      margin-left: auto;
    }
  
    .yaxis{
      font-size: 3vw;
      justify-content: center;
      text-align: center;
      height: 134.3vw;
      width: 100vw;
    }
  
    #branding{
      width: 100vw;
      top:-1vw;
    }
  
    #personal{
      bottom: 0vw;
      width: 100vw;
    }
  
    .label{
        padding-left: .1vw;
        padding-right: .1vw;
      }
    
    #one, #two{
      display: none;
    }
  
    #one2{
      height:0;
      display: block;
      animation: growHeight2 1.25s forwards;
      animation-delay: .9s;
    }
  
    #two2{
    width:0;
    display: block;
    animation: growWidth2 1.25s forwards;
    animation-delay: .9s;
    }
  
    #arrow2{
      transform: translateY(52vw);
    }
  
    #arrow1{
      transform: translateY(-3vw);
    }
  
    #branding{
      top:-3.5vw;
    }
  
    #personal{
      bottom: 9vw;
    }
  
  .point-text{
    font-size: 2vw;
    margin-top: 3vw;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-left: 1.55vw;
  }
  
  #headertwo{
    padding-top: 1.5vw;
    padding-left:.75vw;
    padding-right:.75vw;
    font-size: 8.5vw;
    padding-bottom: 4vw;
  }
  
  #projnav{
    display: none;
  }
  
  #allprojects{
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow-x: scroll;
  }
  
  .box{
    margin-top: 0vw;
    padding-top:19vw;
    width: 91vw;
    margin-bottom: 10vw;
    transition:.5s;
  }
  
  .box * {
    transition: .25s; 
  }
  
  .subbox{
    border: 1px dotted var(--background);
    transition: .25s;
  }
  .first{
    width: 98%;
  }
  
  .fullwidth{
    width: 82.25vw;
    /* margin-top: 1vw; */
  }
  
  #illustrations{
    margin-top:-4vh;
  }
  
  .titlepoint{
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 1vw;
    display: block;
    margin-bottom: 1.5vw;
  }
  
  .title{
    margin-top: 1vw;
    font-size: 6.75vw;
    display: block;
    text-align: left;
    margin-bottom: 1vw;
    margin-left: 1vw;
    line-height: 1.1;
  }
  
  .subtitle{
    font-size: 4vw;
    margin-bottom: 2vw;
    margin-left:-.25vw;
  }
  
  .caption{
    font-size:4vw;
    margin-bottom: 2vw;
  }
  
  /* .expand, .close{
    font-size: 3vw;
    margin-left: 0;  
  } */
  
  .subcaption{
    margin-top: 0vw;
    margin-bottom: 2vw;
    font-size: 3.5vw;
  }
  
  
  .twocol, .twocolweb .threecol, .threecol2, .threecol3, .twocol2, .twocol3, .twocol4, .sixcol, video{
    width: 82.25vw;
  }
  
  .shirt img{
    width: auto;
    height: 27.25vw;
  }
  
  .logo{
    width: 80vw;
  }
  
  .twocol2 img{
    width: auto;
    height: 51vw;
  }
  
  .twocol3 img{
    width: auto;
    height: 22.5vw;
  }
  
  .twocol4 img{
    width: auto;
    height: 41vw;
  }
  .carousel{
    height: 52.5vw;
  }
  
  .five img{
    width: auto;
    height: 27vw;
  }
  
  .six img{
    width: auto;
    height: 33.5vw; 
  }
  
  .threecol2 img{
    height: 50vw;
    width: auto;
  }
  .seven img{
    height: 39vw;
  }
  .eight img{
    height: 29.5vw;
  }
  .nine img{
    height: 43vw;
  }
  .ten img{
    height: 38vw;
  }
  
  .copyright{
    padding-top:16vw;
    padding-bottom: 3vw;
    font-size: 2.5vw;
    text-align: center;
  }
  
  #about, #about2 {
    width: 85vw;
    height: 85vw;
    margin: auto;
    padding: 2% 2.5% 2% 2.5%;
  }
  
  .drithi{
  font-size: 7vw;
  }
  
  .main-text, .linkcontainer{
  font-size: 4vw;
  }
  
  .linkpoints {
  width: 4vw;
  height: 4vw;
  }
  
  .linkcontainer{
  margin-top: -3vw;
  }
  
  body{
  overflow-y: scroll!important;
  }
  
  .arrowsholder {
    position: relative;
    top: -85.5%;
    opacity: 1;
    visibility: visible;
  }
  
  .arrow-container {
    width: 11vw; /* Adjust the width as needed */
    height: 11vw; /* Adjust the height as needed */
    }
    
    .arrow-container2 {
    width: 11vw; /* Adjust the width as needed */
    height:11vw; /* Adjust the height as needed */
    }
    
    .arrowsvert {
    height: 7vw;
    }
    
    .leftright{ 
    width: 5vw;
    }
    
    .arrowshor {
    height: 4vw;
    }
  
  .arrow-container2{
    filter: blur(2px);
  }
  
  .info{
    width: 97%;
  }
  
  .logo{
    display: none;
  }
  
  .caption{
    margin-top: 5vw;
  }
  
  .subcaption{
    margin-bottom: 5vw;
  }

  .key {
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%);
    width: 91vw;
    font-size: 2.5vw;
    margin: 0.5% auto;
}

  .key{
    /* top: 15.25%; */
    bottom: 79.5%;
  }
}

@media only screen and (max-width: 400px){
  
  
  #side{
   display: inline-flex;
   border-top: 1px dotted var(--background);
   position: relative;
   top:610px;
   left:0;
   right: 0;
   width: 90vw;
   padding-top:0vw;
    padding-bottom: 2vw;
    margin: 0 auto;
  }
  
  #home-content{
    position: relative;
    top: 360px;
    left: 50vw;
    transform: translate(-50%, -50%) scale(.91);
  }
  
}

/* 
@media only screen and (max-height: 663px){

  #home-content{
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(.91);
  }

  #side{
    bottom:0vw;
    left:0;
    right: 0;
    width: 90vw;
    padding-top:20vw;
     padding-bottom: 3vw;
   }
  } */