@font-face {
    font-family: "Times Dot Roman";
    src: 
      local("Times Dot Roman"), 
      url("../TimesDot/TimesDotRom.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
  }
  
  /* Italic Style */
  @font-face {
    font-family: "Times Dot Roman";
    src: 
      local("Times Dot Italic"), 
      url("../TimesDot/TimesDot-Italic.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
  }
  
:root {
    --color: rgb(255, 0, 255);
    --background: #ededed;
    --black: #90828e;
  }

  /* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 255, 0.8); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

  }

body{
    font-family: "Times Dot Roman", 'Times New Roman', Times, serif;
    margin: 1vw;
    box-sizing: border-box;
    text-shadow: 0px 0px 8px rgba(237, 38, 255, 0.1);
    background-color: var(--background);
    animation: opacity .5s forwards ease-in;

}
.header {
    position: fixed; /* Keep the header fixed */
    top: 0vw; /* Distance from the top of the page */
    left: 50%; /* Start positioning from the center */
    transform: translateX(-50%); /* Shift the header back to center */
    width: 100vw; /* Set the width of the header */
    margin: 0 auto; /* Center alignment */
    display: flex; 
    justify-content: space-between; /* Space between items */
    color: var(--color);
    font-size: 1.5vw;
    text-align: left; /* Ensure text within the header remains left-aligned */
    z-index: 100; /* Ensure header is above other content */
    background: linear-gradient(180deg, rgba(237,237,237,.95) 0%, rgba(237,237,237,.5) 30%, rgba(255, 255, 255, 0) 70%);
    padding-bottom: 2vw;

}

.details {
    transition: .8s; /* Smooth transition for opacity and blur */
}

.blur-and-hide {
    filter: blur(6px); /* Apply blur effect */
    opacity: 0; /* Hide the element */
}


.bio, .info, .archive {
    text-align: left; /* Specifically ensure each item is left-aligned */
    padding: 1.5vw;
    padding-bottom: 0vw;;
}


/* .name,.info,.archive{
    position: fixed;
} */

.bio{
    width: 65%;
    /* border: 1px dotted var(--color); */
    border-radius: 50%;
    /* padding: 2vw 2vw 2vw 2vw; */
}
  
a{
    color: var(--color);
    text-decoration: none;
    transition: .2s;
}

a:hover{
    /* font-family: 'Times Dot Roman Italic', Times, serif; */
    filter: blur(4px);
    color: var(--color);

}

.info > a{
    font-family: 'Times Dot Roman', Times, serif;
    /* font-style: italic; */
    color: var(--background);
    border-radius: 20vw;
    padding: .5vw .35vw .3vw .5vw;
    box-sizing: border-box;
    background: var(--background);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(255,0,255,1) 40%, rgba(255,0,255,1) 60%, rgba(237,237,237,1) 100%);
    /* text-decoration: underline; */
}

#top-header{
    opacity: 0;
    transition: .25s;
}

.loc{
    opacity: .75;
}


.grid-container {
    display: flex;
    gap: 1vw; /* Space between the columns */
    width: 98vw;
    margin-top: 9vw;
    margin-bottom: 8vw;
}

.grid-column {
    display: flex;
    flex-direction: column; /* Stack items vertically within each column */
    gap: 2vw; /* Space between items in each column */
    flex: 1; /* Ensure all columns have equal width */
}

.grid-item {
    width: auto; /* Use full width within the column */
    justify-content: center;
    height: auto;
    position: relative;
    padding: 0;
    margin: 1vw;
    transition: .7s;
    color: var(--black);
    font-size: 1.3vw;
}

p {
    text-indent: 0; /* No indentation by default */
    margin: 0; 
    padding: 0; 
    color: var(--black);
}

p > a{
    text-decoration: none;
}

p:not(:first-of-type) {
    text-indent: 2.6vw; /* Indent all paragraphs except the first */
}

.grid-column:nth-child(2){
    display: flex; /* Use flex on the column to center its content */
    align-items: center; /* Centers content vertically within the column */
}


.thumbnail {
    margin: 0;
    padding: 0;
    border: 1px dotted var(--color);
    border-radius: .3vw;
    display: flex; /* Add flex display */
    align-items: flex-start; /* Align items at the start */
}

.thumbnail img {
    width: 31.75vw; /* Scale images to fit the grid item */
    height: auto; 
    padding: 0;
    margin: 0; /* Remove any margin */
    border-radius: .3vw;
    display: block; /* Prevent gaps below images */
    animation: stack2 1.25s forwards ease-in;
}

.border{
    border-radius: .3vw;;
    border: 1px dotted var(--color); 
    box-sizing: border-box;
}

  #editorial img{
    object-fit: cover;
    height: 31.75vw;
    width: 31.75vw;
  }

.two {
    display: flex; /* Layout the images in a row */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%; /* Full width of the grid item */
    align-items: flex-start; /* Align items to the top */
}

.two img {
    width: 50%; /* Each image takes half the width of the .two div */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    border: none; /* Ensure no borders add space */
}

#cover1, #cover4 {
    transform: rotate(180deg); /* Rotate specific images */
}

.skill-text{
    transition: .25s;
    /* font-family: 'Times Dot Roman Italic', Times, serif;; */
    }

    .blur {
        filter: blur(4px);
      }
      
.copyright{
    color: var(--black);
    margin: .6vw;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 1.1vw;
    animation: stack2 3s forwards ease-in;
}

.footer{
    width: 100vw;
    height: 5vw;
    display: block;
    position: fixed;
    background: rgb(78, 78, 78);
    background: linear-gradient(180deg, rgba(200,200,200,0) 0%, rgba(237, 237, 237, .8) 95%, rgba(237,237,237,1) 100%);
    bottom:0;
    left: 0;
    transition: .25s;
    pointer-events: none;
    }

    .hover {
        color: var(--color);
        font-size: 1.3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(204, 203, 203, 0.4);
        width: 97%;
        height: 100%;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3vw;
        transition: opacity 0.5s;
        cursor: alias;
    }
    
    .text {
        opacity: 0; /* Text starts hidden */
        transition: opacity 0.25s ease-in-out; /* Smooth fade-in for the text */
        transition-delay: .35s; /* Delay the text appearance */
        line-height: 1.1;
    }

    .thumbnail:hover{}
    
    .thumbnail:hover .hover {
        opacity: 1; /* Fade in the hover element */
    }

    .thumbnail:hover .image {
        filter: blur(2px); /* Apply blur to the image on hover */
    }

    .thumbnail:hover .text {
        opacity: 1; /* Reveal text inside the circle */
    }

   /* Reset styles when not hovering */
    .thumbnail:not(:hover) .circle {
        width: 1.8vw; /* Collapse the circle */
        transition: width 0.25s ease-in-out; /* Ensure smooth collapsing */
    }

    .thumbnail:not(:hover) .text {
        opacity: 0; /* Hide text */
        transition: opacity 0.25s ease-in-out; /* Smooth transition for collapsing */
        transition-delay: 0s; /* Reset delay */
    }

    .thumbnail:not(:hover) .hover{
        transition-delay: .25s;
    }

    .skill{
        font-size: .9vw;
        opacity: .8;
        font-family: 'Times Dot Roman', Times, serif;
        font-style: italic;
        text-transform: capitalize;
    }

    .projpoints {
        width:  .65vw;
        height: .65vw;
        background-color: var(--color);
        transition: .3s;
        border-radius: 50%;
        filter: blur(2px);
        pointer-events: none;
        animation: opacityblur forwards .75s ease-in;
        }
        

    @keyframes stack{
        from {
            height: 0;
            opacity: 0;
            filter: blur(5px);
        } to{
            height: 150vh;
            opacity: 1;
            filter: blur(0px);
        }
    }


    @keyframes stack2{
        from {
            filter: blur(5px);
            opacity: 0;
        } to{
            filter: blur(0px);
            opacity: 1;
        }
    }

    @keyframes opacityblur {
        from {
          filter: blur(4px);
          opacity: 0;
        }
        to {
          filter: default;
          opacity: 1;
        }
        }
        
@keyframes opacity {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@media only screen and (max-width: 1400px){
    .header{
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 1000px) {
    .header{
        width: 95vw;
        padding-top: 2vw;
        font-size: 2vw;
    }

    .bio{
        width: 75%;
    }

    .grid-container {
        display: block; /* Stack columns vertically */
        width: 95vw;
        margin: 16vw auto 0vw; /* Center the grid vertically */
    }
    
    .grid-column {
        display: block; /* Stack items one below the other */
        width: 100%;
    }
    
    .grid-item {
        display: block;
        justify-content: center; 
        width: 95vw; /* Ensure grid items are full width */
        margin: 0;
        margin-bottom: 3vw;
        margin-top: 3vw;
    }

     
      p, .exp{
        line-height: 1.25;
        font-size: 3vw;
        /* text-align: center; */
      }

      .exp{
        display: none;
      }

      .anchor{  
        margin-top: 4vw;
        margin-bottom: 3vw;
        padding: .75vw 1vw;
    }

    .full{
        width: 90vw;
    }


    .full{
        margin: 0 auto;
        margin-bottom: 2vw;
    }

    .thumbnail {
        display: block;
        margin: 0 auto;
        width: 93vw; /* Thumbnails take full width */
        padding: 0;
        border: 1px dotted var(--color); /* Keep the border */
    }
    
    .thumbnail img {
        width: 93vw; /* Scale images to fit the grid item */
        height: auto; 
        padding: 0;
        margin: 0;
        border-radius: .3vw;
    }

}
  

@media only screen and (max-width: 490px){
    /* .container{
        display:none;
    }

    .phone{
        display: flex;
        height: 100vh;
        align-content: center;
        align-self: center;
        align-items: center;
    } */

    ::-webkit-scrollbar {
        display: none;
      }

      body{
        overflow: hidden;
      }

    .header {
        font-size: 6.5vw;
        display: block; /* Switch to block layout */
        text-align: center; /* Center the text if desired */
        padding-top: 5vw;
        width: 90vw;
        z-index: -1000;
        /* line-height: 1.05; */
    }

    .bio, .info, .archive {
        display: block; /* Ensure these elements are stacked vertically */
        width: 100%; /* Full width */
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .sub{
        display: none;
    }
    .grid-container{
        margin: 25vh auto 8vw;
        width: 90vw;
        height: 75vh;
        background-color: var(--background);
        overflow: scroll;
    }

    .grid-item {
        display: block;
        justify-content: center; 
        width: 90vw; /* Ensure grid items are full width */
        margin-bottom: 9vw;
        margin-top: 9vw;
    }
    
    .link{
        color: var(--black);
        font-style: italic;
    }

      .circle{
        padding: 5vw;
        padding-top: 6vw;
      }

      .text{
        font-size:4vw;
      }

      .skill, .copyright{
        font-size: 3vw;
      }
      
      .copyright{
        padding-bottom: 7vw;
      }

      .footer{
        height: 15vh;
      }

      .information{
        position: relative;
        width: 90vw;
      }
      
      .title{
        font-size: 6.5vw;
        padding: 1.8vw 2vw;
        padding-top: 2vw;
        margin-left: -1.8vw;
      }
      
      .subtitle, .time, .anchor, p, .exp{
        font-size: 4vw;
      }

      p{
        line-height: 1.25;
      }

      .anchor{  
        margin-top: 4vw;
        margin-bottom: 3vw;
        padding: .75vw 1vw;
    }

    .full{
        width: 90vw;
    }

    .scroll{
        margin-top: 0vw;
    }

    .full{
        margin-bottom: 2vw;
    }

    .contact{
        font-size: 6.5vw;
    }

    .exp{
        display: none;
    }


    .thumbnail {
        display: block;
        margin: 0 auto;
        width: 90vw; /* Thumbnails take full width */
        padding: 0;
        border: 1px dotted var(--color); /* Keep the border */
        margin-bottom: 16vw;
    }
    
    .thumbnail img {
        width: 90vw; /* Scale images to fit the grid item */
        height: auto; 
        padding: 0;
    }

    .info > a{
        padding: 2.75vw 2vw 2vw 2.5vw;
        margin-left: -1.5vw;
    }
    
    .footer{
        height: 10vh;
        background: linear-gradient(180deg, rgba(200,200,200,0) 0%, rgba(237, 237, 237, .8) 80%, rgba(237,237,237,1) 100%);
      }

    
    .phone-header{
        z-index: 1;
        width: 100vw;
        height: 5vh;
        display: block;
        position: fixed;
        background: black;
        background:  linear-gradient(0deg, rgba(200,200,200,0) 0%, rgba(237, 237, 237, .5) 25%, rgba(237, 237, 237, .65) 50%, rgba(237, 237, 237, .75) 60%, rgba(237, 237, 237, .95) 90%, rgba(237,237,237,1) 100%);
        top:25vh;
        left: 0;
        transition: .25s;
        pointer-events: none;
    }

    .copyright{
        margin-top: 12vh!important;
        padding-bottom: 5vh!important;
    }

}
        
